<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Admin", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="bg-white font-sans w-full h-screen p-10">
    <%= render "_user_menu.html", assigns %>
    <header>
    </header>
    
    <div class="">
      <%= @inner_content %>
    </div>

    <footer class="relative pt-8 pb-6 mt-8">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap items-center md:justify-between justify-center">
          <div class="w-full md:w-6/12 px-4 mx-auto text-center">
            <div class="text-sm text-blueGray-500 font-semibold py-1">
              Made with <a href="" class="text-blueGray-500 hover:text-gray-800" target="_blank">Love</a> by 
              <a href="" class="text-blueGray-500 hover:text-blueGray-800" target="_blank"> Foxlabs Developers</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
